<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashwin.apppromotion">

    <!-- Required to allow the app to send events and user profile information -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.clevertap.android.sdk.Application">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.clevertap.android.sdk.FcmTokenListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.android.sdk.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- uncomment below block to ensure in-app notification isn't shown on a splash screen -->
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="SplashActivity1, SplashActivity2"/>

        <!--PRODUCTION-->
        <!--<meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="RK8-8R9-K74Z"/>;
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="c2b-b32"/>-->

        <!--TESTING-->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-KK8-8R9-K74Z"/>;
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-c2b-b33"/>

    </application>

</manifest>